{% extends "main/main_base.html" %}
{% block main_content %}
<div class="container mt-3">
    <h1>{% if sub %} {{ sub.title }} {% else %}Tsohit{% endif %}</h1>
    <div class="d-flex">
        <div class="border bg-secondary px-2 pt-1 rounded mw-75 mb-2">
            <a class="mb-0" style="text-decoration: none; color: whitesmoke; font-size: 18px; line-height: 0.1"
                href="{{ comments_href }}">
                {{ post.title }}
            </a>
            <p class="my-0" style="color: gray; line-height: 80%; font-size: 12px;">
                submitted by {{ post.username }} {{ post.relative_date }}
                {% if not sub %} to
                <a href="{{ url_for('main.sub_index', sub_name=post.sub_name) }}"
                    style="color: rgb(102, 150, 173); text-decoration: none;">/t/{{
                    post.sub_name }}</a>
                {% endif %}
            </p>
            <p class="mb-1">{{post.body}}</p>
        </div>
    </div>
</div>
{% endblock %}