{% from 'bootstrap5/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Tsohit</title>
    {% endblock %}
</head>

<!-- <body class="text-bg-dark"> -->

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Tsohit</a>
            <div class="navbar-nav me-auto mb-lg-0">
                {{render_nav_item("main.index", "Home")}}
                {% if current_user.is_authenticated %}
                {{render_nav_item("main.submit", "New post")}}
                {{render_nav_item("main.create_sub", "New subtsohit")}}
                {% endif %}
            </div>
            <div class="d-flex align-items-center">
                {% if current_user.is_authenticated %}
                <a class="text-light" href="logout">Logout</a>
                {% else %}
                <a class="text-light me-3" href="/login">Login</a>
                <a class="btn btn-outline-success" href="/register">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Your page content -->
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            {% if category == "info" %}
            <li>
                <div class="alert alert-info rounded-0" role="alert">{{ message }}</div>
            </li>
            {% elif category == "success" %}
            <li>
                <div class="alert alert-success rounded-0" role="alert">{{ message }}</div>
            </li>
            {% elif category == "error" %}
            <li>
                <div class="alert alert-danger rounded-0" role="alert">{{ message }}</div>
            </li>
            {% else %}
            <li>
                <div class="alert alert-secondary rounded-0" role="alert">{{ message }}</div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="col">
            {% block content %}{% endblock %}
        </div>
        <!-- <div class="bg-secondary min-vh-100" style="flex: 0 0 250px;">
            <p>todo register</p>
        </div> -->
    </div>


    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>