{% from 'bootstrap5/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Tsohit</title>
    {% endblock %}
</head>


<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Tsohit</a>
            <div class="navbar-nav me-auto mb-lg-0">
                {{render_nav_item("main.index", "Home")}}
                {% if current_user.is_authenticated %}
                {{render_nav_item("main.submit", "New post")}}
                {{render_nav_item("main.create_sub", "New subtsohit")}}
                {% endif %}
            </div>
            <div class="d-flex align-items-center">
                {% if current_user.is_authenticated %}
                <a class="text-light" href="logout">Logout</a>
                {% else %}
                <a class="text-light me-3" href="/login">Login</a>
                <a class="btn btn-outline-success" href="/register">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="row mx-0">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <!-- dict for alert classes -->
        {% set alert_map = {"info": "alert-info", "success": "alert-success", "error": "alert-danger"} %}
        {% set alert_class = alert_map[category]|default("alert-secondary") %}
        <!-- for loop makes a separate alert div for each alert -->
        <div class="alert rounded-0 alert-dismissible ps-4 m-0 {{ alert_class }}" role="alert">
            {{ message }}
            <button type="button" class="btn-close pe-5" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col p-0">
            {% block content %}{% endblock %}
        </div>
    </div>


    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>